:root {
  --notebook-codeicon-url: url(/themes/img/light-code.svg);
  --notebook-toleft-arrow: url(/themes/img/light/arrow_left.png);
  --notebook-blinker-bgcolor: #444444;
  --notebook-fetching-tcolor: #796e6e;
  --notebook-alert-downbg: #eeeeee;
  --notebook-alert-vtopbg: #ffffff;
  --notebook-fill-filebg: #e0e0e0;
  --notebook-border-solid: 1px solid #dddbdb;
  --notebook-toggle-hover-bgcolor: #f7f2f2;
  --notebook-navbar-hover-bgcolor: #eeeeee;
  --notebook-button-hover-bgcolor: #5454df;
  --notebook-active-tap-color: #c4bdbd;
  --notebook-counter-bgcolor: #eeeeee;
  --notebook-border-secondry: 1px solid #d3d2d2;
  --notebook-active-setting-tap-color: #aaa4a4;
  --notebook-selection-color: #94e3f8d7;
  --notebook-popup-bgprimary: #ffffff;
  --notebook-scrollbar-thumb: #ccccccdc;
  --notebook-editor-font-color: #ffffff;
  --notebook-preloader-bgcolor: #eeeeee;
  --notebook-preloader-ceilbg: #7d7dff, #4c4cd6;
  --notebook-settings-color: #5c5454;
  --notebook-toggle-bgcolor: #fcf8f8;
  --notebook-navbar-bgcolor: #e5e5e5;
  --notebook-editor-bgcolor: #ffffff;
  --notebook-shortcut-color: #989aa3;
  --notebook-window-bgcolor: #cdcdda;
  --notebook-settings-hover: #e3dada;
  --notebook-settings-bgtab: #f3f0f0;
  --notebook-settings-tabop: #f5f3f3;
  --notebook-subx-textcolor: #6f748d;
  --notebook-button-bgcolor: #4747cd;
  --notebook-switch-color: #3838b6;
  --notebook-input-bgcolor: #ffffffbe;
  --notebook-popups-bgcolor: #2f2a2a4d;
  --notebook-icon-hover-color: #ededed;
  --notebook-switch-off-bgcolor: #cccccc;
  --notebook-preloader-txtcolor: #6c6cf3;
  --notebook-default-font-color: #0c0c0c;
  --notebook-status-bar-bgcolor: #007acc;
  --notebook-shadow-rgba1: rgba(0,0,0,0.1);
  --notebook-shadow-rgba2: rgba(0,0,0,0.2);
  --notebook-shadow-rgba3: rgba(0,0,0,0.3);
  --notebook-shadow-rgba4: rgba(0,0,0,0.4);
  --notebook-shadow-rgba5: rgba(0,0,0,0.5);
  --notebook-shadow-rgba6: var(--notebook-shadow-rgba1);
  --notebook-input-shadow-inset1: 0px -1px 0px rgb(84 79 181 / 82%) inset;
  --notebook-input-shadow-inset: 0px -2px 0px rgb(84 79 181 / 82%) inset;
  --notebook-settings-toggle-box-shadow: 0px 1px 8px rgb(151 142 142 / 20%);
  --notebook-toggler-shadow: 0px 1px 5px var(--notebook-shadow-rgba1);
  --notebook-navbar-shadow: 0px 1px 2px var(--notebook-shadow-rgba2);
  --notebook-editor-box-shadow: 0px 4px 12px var(--notebook-shadow-rgba4);
  --notebook-toggle-slideup-transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  --notebook-cubic-bezier-transision: cubic-bezier(0.075, 0.82, 0.165, 1);
}

body[data-color-theme=dark] {
  --notebook-codeicon-url: url(/themes/img/secondry-light-code.svg);
  --notebook-toleft-arrow: url(/themes/img/dark/arrow_left.png);
  --notebook-blinker-bgcolor: #c5d3a8;
  --notebook-fetching-tcolor: #c4c7be;
  --notebook-alert-downbg: #323131;
  --notebook-alert-vtopbg: #3d3d3d;
  --notebook-fill-filebg: #555555;
  --notebook-border-solid: 1px solid #444444;
  --notebook-toggle-hover-bgcolor: #444444;
  --notebook-navbar-hover-bgcolor: #555555;
  --notebook-button-hover-bgcolor: #5454df;
  --notebook-active-tap-color: #c4bdbd;
  --notebook-counter-bgcolor: #444444;
  --notebook-border-secondry: 1px solid #3b3131;
  --notebook-active-setting-tap-color: #aaa4a4;
  --notebook-selection-color: #4c65f1;
  --notebook-popup-bgprimary: #ffffff;
  --notebook-scrollbar-thumb: #635757ee;
  --notebook-editor-font-color: #f7f7f7;
  --notebook-editor-text-color: #d8d8ff;
  --notebook-preloader-bgcolor: #444444;
  --notebook-preloader-ceilbg: #555555, #666666;
  --notebook-settings-color: #e9e7e7;
  --notebook-toggle-bgcolor: #333333;
  --notebook-navbar-bgcolor: #4b4545ee;
  --notebook-editor-bgcolor: #333333;
  --notebook-shortcut-color: #989aa3;
  --notebook-window-bgcolor: #666666;
  --notebook-settings-hover: #716b6b;
  --notebook-settings-bgtab: #4b4545ee;
  --notebook-settings-tabop: #433e3eee;
  --notebook-popups-bgcolor: #2f2a2a4d;
  --notebook-icon-hover-color: #6d6969;
  --notebook-subx-textcolor: #b8bbc9;
  --notebook-button-bgcolor: #5252b9;
  --notebook-switch-off-bgcolor: #655f5f;
  --notebook-preloader-txtcolor: #666666;
  --notebook-default-font-color: #e9e7e7;
  --notebook-status-bar-bgcolor: #007acc;
  --notebook-switch-color: #949dc9;
  --notebook-shadow-rgba1: rgba(0,0,0,0.1);
  --notebook-shadow-rgba2: rgba(0,0,0,0.2);
  --notebook-shadow-rgba3: rgba(0,0,0,0.3);
  --notebook-shadow-rgba4: rgba(0,0,0,0.4);
  --notebook-shadow-rgba5: rgba(0,0,0,0.5);
  --notebook-shadow-rgba6: rgba(22, 22, 22, 0.67);
  --notebook-input-shadow-inset1: 0px -1px 0px rgba(94, 87, 194, 0.82) inset;
  --notebook-input-shadow-inset: 0px -2px 0px rgb(154 152 185 / 82%) inset;
  --notebook-settings-toggle-box-shadow: 0px 1px 8px rgb(43 43 43 / 20%);
  --notebook-toggler-shadow: 0px 1px 5px var(--notebook-shadow-rgba1);
  --notebook-input-bgcolor: var(--notebook-switch-off-bgcolor);
  --notebook-navbar-shadow: 0px 1px 2px var(--notebook-shadow-rgba2);
  --notebook-editor-box-shadow: 0px 4px 12px var(--notebook-shadow-rgba4);
  --notebook-toggle-slideup-transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  --notebook-cubic-bezier-transision: cubic-bezier(0.075, 0.82, 0.165, 1);
}